In [5]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import category_encoders as ce
%matplotlib inline

In [6]:
df_input = pd.read_csv('./data/train.csv')
df_input.pop('Id')

0         1
1         2
2         3
3         4
4         5
       ...
995     996
996     997
997     998
998     999
999    1000
Name: Id, Length: 1000, dtype: int64

In [7]:
encoder = ce.OneHotEncoder(use_cat_names=True)
df_encoded = encoder.fit_transform(df_input)

In [8]:
train_dataset = df_encoded.sample(frac=0.8,random_state=0)
test_dataset = df_encoded.drop(train_dataset.index)

In [9]:
train_labels = train_dataset.pop('SalePrice')
test_labels = test_dataset.pop('SalePrice')

In [10]:
train_stats = train_dataset.describe()
train_stats = train_stats.transpose()
train_stats

,count,mean,std,min,25%,50%,75%,max
BldgType_1Fam,800.0,0.83875,0.367991,0.0,1.00,1.0,1.00,1.0
BldgType_2FmCon,800.0,0.01875,0.135726,0.0,0.00,0.0,0.00,1.0
BldgType_Duplx,800.0,0.03875,0.193119,0.0,0.00,0.0,0.00,1.0
BldgType_TwnhsE,800.0,0.07375,0.261527,0.0,0.00,0.0,0.00,1.0
BldgType_TwnhsI,800.0,0.03000,0.170694,0.0,0.00,0.0,0.00,1.0
OverallQual,800.0,6.15625,1.404208,1.0,5.00,6.0,7.00,10.0
GrLivArea,800.0,1519.81250,514.256850,334.0,1144.75,1456.0,1776.75,4676.0
GarageArea,800.0,472.35375,210.261512,0.0,336.00,480.0,576.00,1220.0

In [11]:
regressor = LinearRegression()  
regressor.fit(train_dataset, train_labels)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
print(regressor.coef_)

[ 12493.44170668    262.73430592  -1577.79890893   4038.03853428
 -15216.41563794  27292.9174114      55.86084657     73.93000301]

In [16]:
new_data = df_encoded
new_label = new_data.pop('SalePrice')
y_pred = regressor.predict(new_data)
y_pred = y_pred.astype(int)
df = pd.DataFrame({'Actual': new_label, 'Predicted': y_pred.flatten()})
df

     Actual  Predicted
0    208500     225785
1    181500     166960
2    223500     234466
3    140000     233125
4    250000     301630
..      ...        ...
995  121600      99128
996  136500     121024
997  185000     188475
998   91000      56265
999  206000     203953

[1000 rows x 2 columns]

In [17]:
((df.Actual - df.Predicted) ** 2).mean()

1515894076.692